{% if not TREE.startswith("rhel") %}
{# NOTE(rasibley): Disable gatto machines from host filters if running on upstream jobs, see FMK-1814 #}
  <not>
    <hostname op="like" value="gatto%"/>
  </not>
{% endif %}
