{% import "trees/common.j2" as common with context %}
{% import "trees/rhel-nightly.j2" as nightly %}
{% set distroRequires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux8"/>
  {% if VARIABLES.ystream_distro %}
    <distro_name op="=" value="{{ VARIABLES.ystream_distro }}"/>
  {% else %}
    <distro_tag op="=" value="RTT_PASSED"/>
  {% endif %}
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=true) }}
  <ks_append><![CDATA[
%post
cat >/etc/yum.repos.d/BUILDROOT-8.repo <<EOF
[BUILDROOT-8]
name=BUILDROOT-8
{% if VARIABLES.ystream_buildroot %}
baseurl={{ VARIABLES.ystream_buildroot }}/{{ ARCH }}/os/
{% else %}
baseurl=http://download.devel.redhat.com/rhel-8/rel-eng/BUILDROOT-8/latest-BUILDROOT-8-RHEL-8/compose/Buildroot/{{ ARCH }}/os/
{% endif %}
enabled=1
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
{{- common.job(distroRequires=distroRequires,
               ks_append=ks_append) -}}
